<header>
	<a class="logo" href="/">Netflix Statistics</a>
	<nav>
		<ul class="nav__links">
			<li><a href="/en">English</a></li>
			<li><a href="/hu">Magyar</a></li>
		</ul>
	</nav>
	<a class="nb" href="/dashboard">Dashboard</a>
</header>
