<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="404" />
		<meta charset="UTF-8" />
		<title>404</title>
		<!-- font -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700,900" />
		<!-- favicon -->
		<link rel="shortcut icon" href="https://cdn.levminer.com/img/error/error.ico" type="image/x-icon" />
		<!-- css -->
		<link rel="stylesheet" href="https://cdn.levminer.com/css/error/error.css" />
	</head>
	<body>
		<div id="notfound">
			<div class="notfound">
				<div class="notfound-class">
					<h1>404</h1>
					<h2>Page not found</h2>
				</div>
				<a href="https://www.levminer.com">Home page</a>
				<a href="https://status.levminer.com">Status</a>
			</div>
		</div>
	</body>
</html>
