<!DOCTYPE html>
<html lang="en">
	<!-- 
  _   _      _    __ _ _           _____ _        _   _     _   _          
 | \ | |    | |  / _| (_)         / ____| |      | | (_)   | | (_)         
 |  \| | ___| |_| |_| |___  __   | (___ | |_ __ _| |_ _ ___| |_ _  ___ ___ 
 | . ` |/ _ \ __|  _| | \ \/ /    \___ \| __/ _` | __| / __| __| |/ __/ __|
 | |\  |  __/ |_| | | | |>  <     ____) | || (_| | |_| \__ \ |_| | (__\__ \
 |_| \_|\___|\__|_| |_|_/_/\_\   |_____/ \__\__,_|\__|_|___/\__|_|\___|___/

 Created by: https://www.levminer.com - Source code: https://github.com/Levminer/netflix-statistics
	-->
	<head>
		<link rel="shortcut icon" href="./assets/support/img/img_32.ico" type="image/x-icon" />
		<meta name="description" content="View Your Netflix Statistics Online" />
		<meta name="viewport" content="width=1024" />
		<title>Netflix Statistics</title>
		<meta charset="UTF-8" />
		<!-- css -->
		<link rel="stylesheet" href="./assets/support/css/index.css" />
		<link rel="stylesheet" href="./partials/partials.css" />
		<!-- analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173567015-1"></script>
		<script>
			window.dataLayer = window.dataLayer || []
			function gtag() {
				dataLayer.push(arguments)
			}
			gtag("js", new Date())

			gtag("config", "UA-173567015-1")
		</script>
	</head>
	<body>
		<%- include("partials/navbar.ejs") %>

		<div class="one">
			<h1 id="h11">Netflix Statistics</h1>
			<p id="p1">You can support the project here. Thank you!</p>
			<h2 id="h21">Features</h2>
			<p id="p1">Store 5/15/45 statistics. (5/1$ 15/5$ 45/10$)</p>
			<p id="p1">Load your stored statistics. (All tiers)</p>
			<h2 id="h21">Support</h2>
			<p id="p1">Monthly support on: <a class="link" target="_blank" href="https://www.patreon.com/levminer">Patreon</a></p>
			<p id="p1">One time support on: <a class="link" target="_blank" href="https://paypal.me/levminer">PayPal</a></p>
			<h2 id="h21">Claim your rewards</h2>
			<p id="p1">
				Patreon: To claim your rewards on Patreon you have to register an account on Netflix Statistics. After that you have to send me your
				registred email on Patreon (Please use the same email as your Patreon email).
			</p>
			<p id="p1">
				PayPal: To claim your rewards on PayPal you have to register an account on Netflix Statistics. After that you have to send me your
				registred email to my email (Please use the same email as your PayPal email).
			</p>
			<h2 id="h21">Help</h2>
			<p id="p1">If you need help just contact me at: <a class="link" href="mailto:netflixstatistics@levminer.com">Email</a></p>
		</div>

		<%- include("partials/footer.ejs") %>
	</body>
</html>
