/* load-statistics css - levminer.com */

footer {
	color: var(--ns_red);
	width: 100%;
	position: relative;
	right: 0;
	bottom: -29px;
	text-align: center;
	font-size: 20px;
}

h3 {
	font-size: 23.4px !important;
}

h4 {
	font-size: 20px !important;
}

.but {
	background: var(--ns_red);
	border-radius: 28px;
	border: 1px solid var(--ns_red);
	cursor: pointer;
	color: white;
	font-family: Arial;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	transition: 0.2s ease-in;
}
.but:hover {
	background: rgb(42, 36, 36);
	border: 1px solid var(--ns_red);
	color: var(--ns_red);
}

.one {
	position: relative;
	top: 10px;
	text-align: center;
	background: rgb(42, 36, 36);

	margin: 10px auto;
	height: 295px;
	width: 570px;
	border-radius: 25px;
	margin-bottom: 25px;
}

.two {
	position: relative;
	top: 5px;
	text-align: center;
	background: rgb(42, 36, 36);

	margin: 10px auto;
	height: 440px;
	width: 570px;
	border-radius: 25px;
	margin-bottom: 25px;
}

.three {
	display: none;
	position: relative;
	top: 5px;
	text-align: center;
	background: rgb(42, 36, 36);

	margin: 10px auto;
	height: 360px;
	width: 570px;
	border-radius: 25px;
	margin-bottom: 25px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr min-content;
	text-align: center;
}

select {
	width: 100px;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-indent: 38%;
}

#h11 {
	color: var(--ns_red);
	font-size: 50px;
	padding: 5px;
}

#p1 {
	padding: 10px;
	font-size: 20px;
}

#h21 {
	color: var(--ns_red);
	font-size: 40px;
	padding: 5px;
}

#p2 {
	padding: 10px;
	font-size: 20px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr min-content;
	text-align: center;
}

#b1 {
	position: relative;
	top: 15px;
	margin-bottom: 25px;
}

#b2 {
	position: relative;
	top: 50px;
	display: none;
}

h3 {
	font-size: 30px;
}

#p3 {
	padding: 10px;
	font-size: 20px;
}

#h35 {
	font-size: 48px;
}

#chart {
	height: 1px;
}

.four {
	display: none;
	text-align: center;
	background: rgb(42, 36, 36);

	margin: 10px auto;
	height: 380px;
	width: 750px;
	border-radius: 25px;
	margin-bottom: 25px;
}

.five {
	display: none;
	text-align: center;
	background: rgb(42, 36, 36);
	margin: 10px auto;
	width: 1500px;
	border-radius: 25px;
	margin-bottom: 25px;
}
