:root {
	--red_color: rgb(222, 10, 10);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10%;
	font-size: 20px;
}

.logo {
	cursor: pointer;
	color: var(--red_color);
	text-decoration: none;
	font-weight: bolder;
}

.nav__links a,
.nb,
.overlay__content a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	text-decoration: none;
}

.nav__links {
	list-style: none;
	display: flex;
}

.nav__links li {
	padding: 0px 20px;
}

.nav__links li a {
	transition: 0.2s ease-in;
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.nav__links li a:hover {
	color: var(--red_color);
}

.nb {
	color: white;
	padding: 9px 25px;
	background-color: var(--red_color);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: 0.2s ease-in;
	border: 1px solid var(--red_color);
}

.nb:hover {
	background: rgb(42, 36, 36);
	border-radius: 50px;
	border: 1px solid var(--red_color);
	color: var(--red_color);
}

.link:link {
	text-decoration: underline;
	color: var(--red_color);
}

.link:visited {
	text-decoration: underline;
	color: var(--red_color);
}

body {
	background: rgb(0, 0, 0);
	background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(32, 28, 31, 1) 50%, rgba(0, 0, 0, 1) 100%);
	text-align: center;
	color: white;
}

footer {
	color: var(--red_color);
	width: 100%;
	position: relative;
	right: 0;
	bottom: -5px;
	left: 0;
	text-align: center;
	font-size: 20px;
}

#but {
	background: var(--red_color);
	border-radius: 28px;
	border: 1px solid var(--red_color);
	cursor: pointer;
	color: white;
	font-family: Arial;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	transition: 0.2s ease-in;
	position: relative;
	top: 50px;
}
#but:hover {
	background: rgb(42, 36, 36);
	border: 1px solid var(--red_color);
	color: var(--red_color);
}

.one {
	position: relative;
	top: 10px;
	text-align: center;
	background: rgb(42, 36, 36);

	margin: 10px auto;
	height: 260px;
	width: 570px;
	border-radius: 25px;
	margin-bottom: 25px;
}

.two {
	position: relative;
	top: 5px;
	text-align: center;
	background: rgb(42, 36, 36);

	margin: 10px auto;
	height: 300px;
	width: 570px;
	border-radius: 25px;
	margin-bottom: 25px;
}

.three {
	position: relative;
	top: 5px;
	text-align: center;
	background: rgb(42, 36, 36);

	margin: 10px auto;
	height: 300px;
	width: 570px;
	border-radius: 25px;
	margin-bottom: 25px;
}

.four {
	position: relative;
	top: 5px;
	text-align: center;
	background: rgb(42, 36, 36);

	margin: 10px auto;
	height: 590px;
	width: 570px;
	border-radius: 25px;
	margin-bottom: 25px;
}

#h11 {
	color: var(--red_color);
	font-size: 50px;
	padding: 5px;
}

#p1 {
	padding: 10px;
	font-size: 20px;
}

#h21 {
	color: var(--red_color);
	font-size: 40px;
	padding: 5px;
}

#p2 {
	padding: 10px;
	font-size: 20px;
}
