/* hu css */
:root {
	--red_color: rgb(222, 10, 10);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10%;
	font-size: 20px;
}

.logo {
	cursor: pointer;
	color: var(--red_color);
	text-decoration: none;
	font-weight: bolder;
}

.nav__links a,
.nb,
.overlay__content a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	text-decoration: none;
}

.nav__links {
	list-style: none;
	display: flex;
}

.nav__links li {
	padding: 0px 20px;
}

.nav__links li a {
	transition: 0.2s ease-in;
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.nav__links li a:hover {
	color: var(--red_color);
}

.nb {
	color: white;
	padding: 9px 25px;
	background-color: var(--red_color);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: 0.2s ease-in;
	border: 1px solid var(--red_color);
}

.nb:hover {
	background: rgb(42, 36, 36);
	border-radius: 50px;
	border: 1px solid var(--red_color);
	color: var(--red_color);
}

.link:link {
	text-decoration: underline;
	color: var(--red_color);
}

.link:visited {
	text-decoration: underline;
	color: var(--red_color);
}

body {
	background: rgb(0, 0, 0);
	background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(32, 28, 31, 1) 50%, rgba(0, 0, 0, 1) 100%);
	text-align: center;
	color: white;
	overflow-x: hidden;
}

footer {
	color: var(--red_color);
	width: 100%;
	position: relative;
	right: 0;
	bottom: -369px;
	left: 0;
	text-align: center;
	font-size: 20px;
}

#b1 {
	position: relative;
	display: none;
	top: 15px;
	margin-bottom: 25px;
	right: 10px;
}

#b2 {
	position: relative;
	display: none;
	margin-bottom: 25px;
	top: 15px;
	left: 5px;
}

.but {
	background: var(--red_color);
	border-radius: 28px;
	border: 1px solid var(--red_color);
	cursor: pointer;
	color: white;
	font-family: Arial;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	transition: 0.2s ease-in;
}
.but:hover {
	background: rgb(42, 36, 36);
	border: 1px solid var(--red_color);
	color: var(--red_color);
}

.one {
	text-align: center;
	background: rgb(42, 36, 36);

	margin: 10px auto;
	height: 420px;
	width: 750px;
	border-radius: 25px;
	margin-bottom: 25px;
}

.two {
	display: none;
	text-align: center;
	background: rgb(42, 36, 36);

	margin: 10px auto;
	height: 450px;
	width: 750px;
	border-radius: 25px;
	margin-bottom: 25px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr min-content;
	text-align: center;
}

.counter {
	font-size: 60px;
}

#h11 {
	color: var(--red_color);
	font-size: 50px;
	padding: 5px;
}

#p1 {
	padding: 10px;
	font-size: 20px;
}

#h21 {
	color: var(--red_color);
	font-size: 40px;
	padding: 5px;
}

#p2 {
	padding: 10px;
	font-size: 20px;
}

#p3 {
	padding: 10px;
	font-size: 20px;
}

.file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input {
	background: var(--red_color);
	border-radius: 28px;
	border: 1px solid var(--red_color);
	cursor: pointer;
	color: white;
	font-family: Arial;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	transition: 0.2s ease-in;
}
.input:hover {
	background: rgb(42, 36, 36);
	border: 1px solid var(--red_color);
	color: var(--red_color);
}

*:focus {
	outline: none;
}

.three {
	display: none;
	text-align: center;
	background: rgb(42, 36, 36);

	margin: 10px auto;
	height: 450px;
	width: 750px;
	border-radius: 25px;
	margin-bottom: 25px;
}

#h35 {
	font-size: 48px;
}

.four {
	display: none;
	text-align: center;
	background: rgb(42, 36, 36);
	margin: 10px auto;
	width: 1500px;
	border-radius: 25px;
	margin-bottom: 25px;
}

.alert {
	padding: 15px;
	background-color: rgb(222, 10, 10);
	color: white;
}

.close {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.close:hover {
	color: black;
}

.go:link {
	text-decoration: underline !important;
	color: white;
}
.go:visited {
	text-decoration: underline !important;
	color: white;
}
