<footer id="foo">
	<h3>
		Created by: <a class="link" target="_blank" href="https://www.levminer.com">Levminer</a> - Netflix Statistics <%= version %> -
		Source code:
		<a class="link" target="_blank" href="https://github.com/Levminer/netflix-statistics">GitHub</a>
	</h3>
	<h4>
		Server: <%= server %> - Node: <%= node %>
	</h4>
</footer>
