<div class="popup">
	<span class="popup-close" onclick="this.parentElement.style.display='none';">&times;</span>
	<b>
		Do you want to save your statistics and compare them later? You can support the site and get exclusive features!
		<a class="go" href="/support">Support</a>
	</b>
</div>
